---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: landing-page
title: Ana Sayfa
lang: tr
permalink: "/"
---
<script src="{{ site.baseurl }}/js/slick/slick.min.js"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/js/slick/slick.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/js/slick/slick-theme.css" />
<div class="slideshow">
  <div><img class="image" src="images/slideshow/1.jpg"></div>
  <div><img class="image" src="images/slideshow/2.jpg"></div>
  <div><img class="image" src="images/slideshow/3.jpg"></div>
</div>
<br>
<br>
<br>

<div class="row">
    <div class="column left">
        <h2>İletişim: +90 (392) 444 05 05</h2>
        <h3>Mail: <a href="mailto:info@ehslogistics.com">info@ehslogistics.com</a></h3>
        <hr>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et arcu velit. Suspendisse euismod efficitur ligula, quis luctus sapien viverra molestie. Praesent pellentesque vitae dui vitae dignissim. Cras eu dignissim leo, a imperdiet nisl. Suspendisse condimentum mollis elit ut vehicula. Nulla suscipit volutpat libero, at elementum nunc porttitor at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent sit amet augue diam. Suspendisse metus nunc, sodales et massa sed, sodales ornare diam. Suspendisse ultricies diam posuere, rutrum felis at, consequat orci. Morbi vel faucibus mi. Pellentesque viverra et eros nec hendrerit. Morbi arcu dui, rhoncus quis dui a, scelerisque venenatis arcu.
    </div>

    <div class="column right">
        <h2>DHL Paket takibi</h2>
        <div class="info-container" style="background: #FFCC01">
            DHL paket numaranızı giriniz (10 haneli):
            <input type="text" id="dhl_track" style="width: 15em; height:2em; background-color:white; padding:5px; margin-top:10px; margin-bottom:10px"></input>
            <button class="button special" style="background-color: #D2002E" id="dhl_send">Gönder</button>
        </div>

        <hr>

        <form action="https://www.filodenizcilik.net/" method="get" target="_blank">
        <button class="button" style="background-color: rgb(53, 59, 190); color:#000000; float:right; margin-bottom:3em;">Filo Denizcilik seferleri</button>
        </form>

        <form action="http://www.gumruk.gov.ct.tr/apex/f?p=2004:200:14057291156084" method="post" target="_blank">
        <button class="button" style="background-color: rgb(190, 53, 53); color:#000000; float:right">KKTC Gümrük mevzuatı</button>
        </form>
        <p style="font-size:64 !important;"><a href="http://www.gumruk.gov.ct.tr/apex/f?p=2004:200:14057291156084:::::"></a></p>

    </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.slideshow').slick({
        dots: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 4000,
        adaptiveWidth: true
    });

    $("#dhl_send").click(function() {
        var send_num = $("#dhl_track").val();
        if (send_num.length == 10) {
            var send_str = "https://www.dhl.com.tr/exp-en/express/tracking.html?AWB=" + send_num + "&brand=DHL";
            window.open("https://www.dhl.com.tr/exp-en/express/tracking.html?AWB=1234567890&brand=DHL", '_blank').focus()
        } else {
            alert("10 haneli numara olmak zorundadır!");
        }

    });

  });
</script>

<style>

    .column {
      background: #f5f5f5;
      margin: 2%;
      padding: 2%;
      float: left;
      border-radius: 10px;
    }
    .left {
        width: 55%;
    }

    .right {
      width: 35%;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .info-container {
        width: 100%;
        margin-top: 1%;
        margin-left: 0;
        background: #fff500;
        border-radius: 5px;
        padding: 4%;
        -webkit-box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
        -moz-box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
        box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
    }
    .slideshow {
        margin-bottom: 5%;
    }
    .slick-next:before{
        color: rgb(195, 74, 74) !important;
    }
    .slick-prev:before {
        color: rgb(195, 74, 74) !important;
    }
</style>
