<!-- Footer -->
<footer id="footer">
    <div class="container">
        Tel: +90 (392) 444 05 05
        <br>
        Mail: <a href="mailto: info@ehslogistics.com">info@ehslogistics.com</a>
        <ul class="copyright">
            <li>&copy; EHS Logistics</li>
        </ul>


    </div>
</footer>

<style>
    .container {
        text-align: center;
    }
</style>
