<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>




    <nav id="nav">
        <ul>
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link head_btn" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}

            {% if site.active_lang == "tr" %}
                <li><a class="page-link button special" href="{{ '/en' | prepend: site.baseurl }}">English</a></li>
            {% elsif site.active_lang == "en" %}
                <li><a class="page-link button special" href="{{ site.url }}">Türkçe</a></li>
            {% endif %}
        </ul>
    </nav>


</header>

<style>

    .head_btn {
        background-color: inherit;
        margin: 0px !important;
        padding-left: 15px;
        padding-right: 15px;
    }
</style>
