---
layout: post
lang: tr
title: Hizmetlerimiz
permalink: /services
---

<div class="masonry-layout">
    <section class="masonry-layout-panel">
    <h2>Danışmanlık Hizmetleri</h2>

    <img class="image" src="{{ site.baseurl }}/info/images/consultancy.jpg">

    <b>Her türlü ithalat ve ihracat işlemlerinde:</b>
    <ul>
            <li>Gerekli izin belgesi takip ve temin etme
            <li>G.T.I.P (Gümrük tarifesi) belirlenmesi
            <li>Maliyet hesabı
            <li>Bankacılık işlemleri
            <li>Yurtiçi/Yurtdışı nakliye ve depolama organizasyonu
    </ul>
    </section>

    <section class="masonry-layout-panel">
    <h2>Uluslararası Kara, Hava ve Deniz Yolu Taşımacılığı Hizmetleri</h2>

    <img class="image" src="{{ site.baseurl }}/info/images/logistics.jpg">
    <br>
    <ul>
        <li> Avrupa ve Yurtiçi'nden parsiyel ve komple tır taşımacılığı
        <li> 6 kıtadan hava taşımacılığı
        <li> Tüm limandlardan FCL/LCL taşımacılığı
        <li> Adresten alım, adrese teslimat
    </ul>
    <br>

    </section>

    <section class="masonry-layout-panel ">
    <h2>Depolama ve Antrepo Hizmetleri</h2>

    <img class="image" src="{{ site.baseurl }}/info/images/antrepo.jpeg">
    <ul>
        <li> Genel antrepo hizmeti
        <li> 1000 m^2'lik kapalı genel antrepo alanı, güvenli istifleme
        <li> Forkliftler ve asansör ile istifleme sistemi
    </ul>
    </section>


    <section class="masonry-layout-panel ">
    <h2>Gümrükleme Hizmetleri</h2>

    <img class="image" src="{{ site.baseurl }}/info/images/customs.jpg">
    <b>Her türlü gümrük işlerinde: </b>
    <br>
    <br>
    <ul>
            <li>Gümrükleme işlemleri için gerekli evrakların firmadan alınması
            <li>Evrakların alımından itibaren en kısa zamanda tüm işlemlerin bitirilerek malın müşteriye ulaşması
            <li>İşlemi bitmiş olan evrakların, fatura ve dekontumuz ekinde müşteriye ulaştırılması
            <li>Gümrük işlemlerinin her safhasında gerekli olacak her türlü belgenin, çekin, dekontun kendi kuryelerimizce alınması ve gerekli mercilere ulaştırılması
            <li>İnternet bankacılığı ile hızlı para transferlerinin gerçekliştirilmesi</li>
    </ul>
    </section>



</div>

<style>
    .masonry-layout {
      column-count: 2;
      column-gap: 0;

    }
    .masonry-layout-panel {
      break-inside: avoid;
      padding: 5%;
      background: #f5f5f5;
      border-radius: 15px;

      -webkit-box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
      -moz-box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
      box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
      padding-bottom: 1%;
      margin: 2%;
      margin-top: 0;
    }
    .masonry-layout-panel__content {
      padding: 20px;
      border-radius: 20px;
    }
    .column {
      width: 48%;
      margin: 1%;
      background: #f5f5f5;
      border-radius: 15px;
      padding-right: 5%;

      -webkit-box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
      -moz-box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
      box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
    }

    .container {
      text-align: left !important;
      flex-wrap: row;
    }
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .image {
        width: 50%;
        float: right;
        margin-bottom: 2%;
        margin: 5%;

        border: solid 1px #454545;

    }
</style>
