---
layout: post
lang: en
title: Our Services
permalink: /services
---

<div class="masonry-layout">
    <section class="masonry-layout-panel">
    <h2>Consultancy Services</h2>

    <img class="image" src="{{ site.baseurl }}/info/images/consultancy.jpg">

    <b>In all kinds of import and export operations:</b>
    <ul>
        <li>Following up and obtaining the necessary letter of authority
        <li>Determining G.T.I.P (Customs tariff)
        <li>Cost assesment
        <li>Banking Transactions
        <li>Domestic shipping and storage organization
        <li>Overseas shipping and storage organization
    </ul>
    </section>

    <section class="masonry-layout-panel">
    <h2>Land, Air and Naval Transportation services</h2>

    <img class="image" src="{{ site.baseurl }}/info/images/logistics.jpg">
    <br>
    <ul>
        <li> Partial and complete articulated lorry transportation from Europe and from inland
        <li> Air transport from 6 continents
        <li> FCL/LCL transportation from all ports
        <li> Taking over from the specified address and delivery to the specified address
    </ul>
    <br>

    </section>

    <section class="masonry-layout-panel ">
    <h2>Storage and Bonded Warehouse Services</h2>

    <img class="image" src="{{ site.baseurl }}/info/images/antrepo.jpeg">
    <ul>
        <li> General bonded warehouse service
        <li> Closed general warehouse with area of 1000m^2, secure stowing
        <li> Stowing with forklifts and elevators
    </ul>
    </section>


    <section class="masonry-layout-panel ">
    <h2>Customs Clearance Services</h2>

    <img class="image" src="{{ site.baseurl }}/info/images/customs.jpg">
    <b>In all kinds of customs clearing processes: </b>
    <br>
    <br>
    <ul>
            <li>Taking over the documents from the company that are required for customs clearance
            <li>Completing all transactions as soon as possible after the documents have been received, and delivering goods to the customer
            <li>Delivery of the documents to the customer along with the invoice and our receipt
            <li>Taking over all kinds of documents, cheques, receipts that will be necessary in all stages of customs processes by our couriers and delivery to the required authorities
            <li>Performing rapid money transactions via Internet Banking
    </ul>
    </section>



</div>

<style>
    .masonry-layout {
      column-count: 2;
      column-gap: 0;

    }
    .masonry-layout-panel {
      break-inside: avoid;
      padding: 5%;
      background: #f5f5f5;
      border-radius: 15px;

      -webkit-box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
      -moz-box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
      box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
      padding-bottom: 1%;
      margin: 2%;
      margin-top: 0;
    }
    .masonry-layout-panel__content {
      padding: 20px;
      border-radius: 20px;
    }
    .column {
      width: 48%;
      margin: 1%;
      background: #f5f5f5;
      border-radius: 15px;
      padding-right: 5%;
      -webkit-box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
      -moz-box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
      box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.29);
    }

    .row {
      flex-wrap: row;
    }
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .image {
        width: 50%;
        float: right;
        margin-bottom: 2%;
        margin: 5%;

        border: solid 1px #454545;

    }
</style>
