<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>EHS Logistics</h2>
                {% if site.active_lang == "tr" %}
                    <p><Şirket sloganını koy></p>
                {% else %}
                    <p>Insert company slogan</p>
                {% endif %}

                <!--
                <ul class="actions">
                    <li><a href="#content" class="button big special">Sign Up</a></li>
                    <li><a href="#elements" class="button big alt">Learn More</a></li>
                </ul>
                -->
            </div>
        </section>
        <section id="main" class="wrapper style1">
            <div class="side_container">
                {{ content }}
            </div>
        </section>

        {% include /footer.html %}

    </body>

</html>

<style>
    .side_container {
        @extend style="container";
        margin-left: 10%;
        margin-right: 10%;
        padding: 5%;




    }
</style>
